<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/mobile_box"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/mobile_box"
        android:supportsRtl="true"
        android:theme="@style/Theme.MobileBox"
        tools:targetApi="31" >
        <activity
            android:name=".ui.CheckOutActivity"
            android:exported="false" />
        <activity
            android:name=".ui.CartListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ProductDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.HomeActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.onboarding.ThirdOnBoardingActivity"
            android:exported="false"
            android:screenOrientation="locked" />
        <activity
            android:name=".ui.onboarding.SecondOnBoardingActivity"
            android:exported="false"
            android:screenOrientation="locked" />
        <activity
            android:name=".ui.onboarding.FirstOnBoardingActivity"
            android:exported="true"
            android:screenOrientation="locked" >
<!--             <intent-filter>-->
<!--             <action android:name="android.intent.action.MAIN" />-->
<!--             <category android:name="android.intent.category.LAUNCHER" />-->
<!--             </intent-filter>-->
        </activity>
        <activity
            android:name=".ui.auth.RegisterActivity"
            android:exported="false"
            android:screenOrientation="locked" />
        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="true"
            android:screenOrientation="locked">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity
            android:name=".ui.SplashScreenActivity"
            android:exported="true"
            android:screenOrientation="locked"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >

<!--             <intent-filter> -->
<!--             <action android:name="android.intent.action.MAIN" /> -->


<!--             <category android:name="android.intent.category.LAUNCHER" /> -->
<!--             </intent-filter> -->
        </activity>
    </application>

</manifest>